/**
 * 默认主题
 * @author 刘志栋
 * @since 2024/07/28
 */
:root[theme='default'] {
  /*======== UI组件 ========*/
  /* 输入项样式 */
  --input-background-color: #ffffff;
  --input-border-color: #ccc;
  --input-text-color: #4d4d4d;
  --input-focus-border-color: #6d93c5;
  --input-lable-color: #4077ca;
  --input-error-color: #dc3545;
  /* 按钮样式 */
  --btn-focus-outline-color: #868788;
  --primary-btn-color: #007bff;
  --primary-btn-hover-color: #0056b3;
  --primary-btn-active-color: #004080;
  --primary-btn-text-color: #fff;
  --primary-btn-disabled-color: #81bbf8;
  --default-btn-color: #eeeeee;
  --default-btn-hover-color: #d6d6d6;
  --default-btn-active-color: #bbbbbb;
  --default-btn-text-color: #1f1f1f;
  --default-btn-disabled-color: #cccccc;
  --danger-btn-color: #ce7266;
  --danger-btn-hover-color: #b95761;
  --danger-btn-active-color: #b6414d;
  --danger-btn-text-color: #fff;
  --danger-btn-disabled-color: #f8d7da;

  /*======== 登录页 ========*/
  /* 表单框样式 */
  --login-page-background-color: #f5f5f5;
  --login-form-container-background-color: #ffffff;
  --login-form-container-border-color: #ccc;

  /*======== 看板列表页 ========*/
  --kanban-list-split-color: #e4e4e4;
  --kanban-item-hover-color: #f8f8f8;
  --kanban-item-delete-color: #faf0b9;

  /*======== 看板页 ========*/
  /* Header样式 */
  --header-border-color: #b5b5b5;
  --header-shadow-color: #b5b5b5;
  --header-background-color: #fafafa;
  --header-btn-icon-color: #bfbfbf;
  --header-btn-hover-background-color: #dfdfdf;
  --header-btn-hover-icon-color: #6a6a6a;
  --header-title-color: #6a6a6a;
  /* 看板样式 */
  --board-background-color: #f5f5f5;
  /* 侧边栏样式 */
  --toolbar-background-color: #ffffff;
  --toolbar-border-color: #d5d5d5;
  --toolbar-shadow-color: #b3b3b3;
  --toolbar-item-color: #000;
  --toolbar-item-hover-backgroud-color: #92c2d5;
  --toolbar-item-hover-color: #ffffff;
  /* Dock样式 */
  --dock-background-color: #fafafa;
  --dock-border-color: #d9d9d9;
  --dock-item-font-color: #636363;
  --dock-item-border-color: #b2b2b2;
  --dock-item-background-color: #f5f5f5;
  --dock-item-title-font-color: #737373;
  --dock-item-title-border-color: #cdcdcd;
  --dock-item-focus-border-color: #62bee6;
  --dock-item-close-btn-color: #b5b5b5;
  --dock-item-close-btn-hover-color: #cdcdcd;
  --dock-item-close-content-color: #f8f8f8;
  /* 组件样式 */
  --component-border-color: #220505;
  --component-resize-wrapper-border-color: #62bee6;
  --component-resize-wrapper-fill-color: #62bee6;
  --link-line-handler-border-color: #bad0da;
  --link-line-handler-fill-color: #bad0da;
  /* 对话框样式 */
  --dialog-border-color: #b5b5b5;
  --dialog-background-color: #ffffff;
  --dialog-shadow-color: #d9d9d9;
  --dialog-title-background-color: #f5f5f5;
  --dialog-title-text-color: #494949;
  --dialog-btn-border-color: #b5b5b5;
  --dialog-btn-icon-color: #656565;
  --dialog-btn-close-color: #f3a6a6;
  --dialog-btn-close-hover-color: #f4b5b5;
  --dialog-btn-expand-color: #e8d4a3;
  --dialog-btn-expand-hover-color: #ede3b9;
  --dialog-btn-minimize-color: #a3e8c1;
  --dialog-btn-minimize-hover-color: #b9edc2;
  /* 对话框聚焦样式 */
  --dialog-focus-border-color: #aecfdd;
  --dialog-focus-title-background-color: #cee7f3;
}